/*questões, lembretes, login, cadastro*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #ffffff;
}

#menu-topo ul{
  /* Só aplica-se ao elemento ul
  que está dentro do id menu-topo */
  background-color: #004d00;
  list-style-type: none;
  box-shadow: #bbbbbb 1px 3px 5px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  height: 40px;

  /*Define uma largura máxima para a lista.
  Útil para fazer menu na vertical.*/
  /*width: 200px;*/
}

#menu-topo ul li{
  /*Usado para mostrar o menu em linha*/
  display: inline;
}
#menu-topo ul a{
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}
#menu-topo ul a:hover{
  background-color: #999999;
  height: 40px;
}



/*TELA DE CADASTRO*/
label{
  color:black;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}


/*** CADASTRO E LOGIN **/*
.login, .cadastro{

    background-color: #ffffff;
  	border: 1px solid #000000;
		border-radius: 10px;
    width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 50px;
		background: radial-gradient(80% 80%, #ccffcc, #fff); /*degrade*/
		box-shadow: 4px 5px 5px #666666; /*sombras*/
  }



      /*** BOTAO ***/
  .login .campo, .cadastro .campo{
    border: 1px solid #000000;
		border-radius: 4px;
    /*"engorda" os elementos da classe campo*/
    padding: 13px 5px;
    width: 300px;
    font-size: 20px;
  }

 .cadastro .botao, .confirmacao .botao, .botaoInicio .botao, .login .botao{
  border: 1px solid #86592d;
  border-radius: 4px;
   /*"engorda" os elementos da classe campo*/
   padding: 13px 5px;
   width: 100px;
   font-size: 20px;
 }


  /*aplica essas propriedades somente no botão*/
  .login .botao, .cadastro .botao, .confirmacao .botao, .botaoInicio .botao {
    background-color:#b3ffb3;
    color: #000000;
		border-radius: 6px;
		border: #996633;
		box-shadow: 4px 4px 1px #666666;
  }

	.login .botao:hover, .cadastro .botao:hover, .confirmacao .botao:hover, .botaoInicio .botao:hover{
		box-shadow: 4px 4px 7px #001a00;
	}


/*** Posicionar os elementos lado a lado na tela. ***/
  * {
  box-sizing: border-box;
}



/**** TELA DE INÍCIO ****/
.botaoInicio .botao, .botaoComo .botao{
  border: 1px solid #86592d;
  border-radius: 4px;
  /*"engorda" os elementos da classe campo*/
  padding: 13px 5px;
  width: 200px;
  font-size: 25px;
}
.botaoInicio{
  margin-top: 50px;
}

.botaoInicio .botao, .botaoComo .botao {
  background-color:#b3daff;
  color: #000000;
  border-radius: 6px;
  border: #996633;
  box-shadow: 4px 4px 1px #666666;
}

.botaoInicio .botao:hover, .botaoComo .botao:hover{
  box-shadow: 4px 4px 7px #001a33;
}

.botaoComo{
  margin-top: 10px;
}

.inicio{
  margin: 0 600px;
  margin-top: 100px;
  width: 100px;
}

.para .texto1{
  color: black;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  text-indent: 50px;
  font-size: 25px;
}








/* TELA QUESTÃO UM*/
  .conteudo::after, .img {
  content: "";
  clear: both;
  display: table;
}

.conteudo::after, .img {
  content: "";
  clear: both;
  display: table;
}

 .fileira1, .fileira2, .fileira3, .fileira4{
  float: left;
  width: 260px;
  padding: 5px;
  text-align: center;
  border: solid 1px #ededed;
}


.fileira1, .fileira2, .fileira3, .fileira4, label{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}


.fileira3, .fileira4{
  margin-top: 5px;
}

.fileira1, .fileira3{
  margin-right: 5px;
}

.limparfloat{
  clear: left;
}


.enunciado, p{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin: 10px;

}


.limparfloat{
  clear: left;
}


.enunciado{
/*  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;*/
}
 .corpo .enunciado h2{
   border-left: 3px solid #004d00;
   background-color: lightgrey;
   margin: 5px 0;
}

.corpo .confirmacao{
  margin: 10px 0;
  margin-left: 420px;
}

.corpo{
  margin: 0 auto;
  width: 550px;
}







/*** TELA LEMBRETE ***/
.texto{
  color: black;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  text-indent: 50px;
  font-size: 25px;
}
.conteudo, h1{
  color: black;
  font-family: "Times New Roman", Times, serif;

}

table {
border-collapse: collapse;
width: 100%;
color: black;
text-align: center;
font-family: "Times New Roman", Times, serif;
font-size: 25px;
}

th, td {
text-align: left;
padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
background-color:#b3b3ff;
color: black;
}

.conteudo, .para{
border: 2px solid #000000;
border-radius: 8px;
padding: 8px;
position: static;
width:1105px;
margin: auto;
margin-top: 50px;
background: radial-gradient(80% 80%, #cce6ff, #fff); /*degrade*/
box-shadow: 4px 5px 5px #666666;
}

#botaoProsseguir{
  margin-top: 20px;
  margin-left: 1110px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 19px;
}



/**** QUESTAO DOIS ****/
.corpoq2 .enunciadoq2 h2{
  border-left: 3px solid #004d00;
  background-color: lightgrey;
  margin: 5px 0;
}

.corpoq2{
  margin: 0 auto;
  width: 850px;
}
.montante{
  width: 810px;
  height: 300px;
  border: 2px solid #000000;
  position: relative;
  margin: 0px 10px 10px 0px ;
  border-radius: 6px;
  background: radial-gradient(80% 80%, #ccffcc, #fff); /*degrade*/
  box-shadow: 4px 5px 5px #666666;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
.montante, span{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
.containerAdjetivos, .containerVerbos{
    width: 400px;
    height: 500px;
    border: 2px solid #000000;
    position: relative;
    margin: 0px 10px 10px 0px ;
    border-radius: 6px;
    background: radial-gradient(80% 80%, #ccffcc, #fff); /*degrade*/
    box-shadow: 4px 5px 5px #666666;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}
#nomeVerbos, #nomeAdjetivos{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}


/*.montante, .containerVerbos {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}*/
.limpaarfloat{
  clear:right;
}
