/*questões, lembretes, login, cadastro*/
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #ffffff;
}

#menu-topo ul{
  /* Só aplica-se ao elemento ul
  que está dentro do id menu-topo */
  background-color: #004d00;
  list-style-type: none;
  box-shadow: #bbbbbb 1px 3px 5px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 21px;
  height: 40px;

  /*Define uma largura máxima para a lista.
  Útil para fazer menu na vertical.*/
  /*width: 200px;*/
}

#menu-topo ul li{
  /*Usado para mostrar o menu em linha*/
  display: inline;
}
#menu-topo ul a{
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}
#menu-topo ul a:hover{
  background-color: #999999;
  height: 40px;
}


/*** BOTAO ***/
.login .campo, .cadastro .campo{
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 13px 5px;
  width: 270px;
  font-size: 20px;
}

.botao, .botaolb2{
  background-color:#daffb3;
  border: 1px solid #bcbcbc;
  box-shadow: 4px 4px 1px #95a583;
  border-radius: 6px;
  padding: 13px 5px;
  width: 100px;
  font-size: 20px;
}


.botao:hover, .botaolb2:hover{
  box-shadow: 4px 4px 7px #001a00;
}

/*TELA DE CADASTRO*/
label{
  color:black;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}


/*** CADASTRO E LOGIN **/
.login, .cadastro{
    background-color: #ffffff;
  	border: 1px solid #000000;
		border-radius: 10px;
    width: 400px;
    text-align: center;
    margin: 20px auto;
    padding: 50px;
		background: radial-gradient(80% 80%, #bfffbf, #fff); /*degrade*/
		box-shadow: 4px 5px 5px #666666; /*sombras*/
  }



/*** Posicionar os elementos lado a lado na tela. ***/
  * {
  box-sizing: border-box;
}



/*** TELA DE INÍCIO****/
#btnComo, #btnJogar{
  display: block;
  width: 200px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color:black;
  font-family: "Times New Roman", Times, serif;
}

#btnJogar{
  margin-top: 50px;
}

#btnComo .botao:hover, #btnJogar .botao:hover{
  box-shadow: 4px 4px 7px #001a33;
}

#btnComo{
  margin-top: 10px;
}

.inicio{
  margin: 0 600px;
  margin-top: 100px;
  width: 100px;
}

.corpoInicial .texto1{
  color: black;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  text-indent: 50px;
  font-size: 25px;

}

  #corpoInicial{
  /* border: 1px solid #BABABA; */
  border-radius: 6px;
  padding: 8px;
  position: static;
  width:1105px;
  margin: auto;
  margin-top: 50px;
  background: radial-gradient(90% 100%, #daffb3, #fff);
  /* box-shadow: 4px 5px 5px #666666; */
  border: 1px solid #bcbcbc;
  box-shadow: 4px 4px 1px #95a583;
}









/* TELA QUESTÃO UM*/
  .conteudo::after, .img {
  content: "";
  clear: both;
  display: table;
}

.conteudo::after, .img {
  content: "";
  clear: both;
  display: table;
}

 .fileira1, .fileira2, .fileira3, .fileira4{
  float: left;
  width: 260px;
  padding: 5px;
  text-align: center;
  border: solid 1px #ededed;
}


.fileira1, .fileira2, .fileira3, .fileira4, label{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}


.fileira3, .fileira4{
  margin-top: 5px;
}

.fileira1, .fileira3{
  margin-right: 5px;
}

.limparfloat{
  clear: left;
}


.enunciado, p{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin: 10px;

}


.limparfloat{
  clear: left;
}


.enunciado{
/*  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;*/
}
 .corpo .enunciado h2{
   border-left: 3px solid #004d00;
   background-color: lightgrey;
   margin: 5px 0;
}

.corpo .confirmacao{
  margin: 10px 0;
  margin-left: 420px;
}

.corpo{
  margin: 0 auto;
  width: 550px;
}







/*** TELA LEMBRETE ***/
.texto{
  color: black;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  text-indent: 50px;
  font-size: 25px;
}

.conteudo, h1{
  color: black;
  font-family: "Times New Roman", Times, serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:#bfff80;
  color: black;
}

.conteudo{
  border: 1px solid #bcbcbc;
  border-radius: 6px;
  padding: 8px;
  position: static;
  width:1105px;
  margin: auto;
  margin-top: 50px;
  background: radial-gradient(90% 100%, #daffb3, #fff);
  box-shadow: 4px 4px 1px #95a583;
}

#btnLb1{
  margin-top: 20px;
  margin-left: 1080px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  width: 150px;
}






/**** QUESTAO DOIS ****/
.corpoq2 .enunciadoq2 h2{
  border-left: 3px solid #004d00;
  background-color: lightgrey;
  margin: 5px 0;
}

.corpoq2{
  margin: 0 auto;
  width: 850px;
}
.montante{
  width: 810px;
  height: 300px;
  border: 2px solid #000000;
  position: relative;
  margin: 0px 10px 10px 0px ;
  border-radius: 6px;
  background: radial-gradient(80% 80%, #bfffbf, #fff); /*degrade*/
  box-shadow: 4px 5px 5px #666666;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
.montante span, .containerAdjetivos span, .containerVerbos span{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  float: left;
  width: 170px;
  height: 70px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.containerAdjetivos, .containerVerbos{
    width: 400px;
    height: 500px;
    border: 2px solid #000000;
    position: relative;
    margin: 0px 10px 10px 0px ;
    border-radius: 6px;
    background: radial-gradient(80% 80%, #bfffbf, #fff); /*degrade*/
    box-shadow: 4px 5px 5px #666666;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}
#nomeVerbos, #nomeAdjetivos{
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}


/*.montante, .containerVerbos {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}*/
.limpaarfloat{
  clear:right;
}


/*.linha1 span, .linha2 span, .linha3 span{

  "engorda" os elementos da classe campo
  padding: 8px 5px;
  width: 150px;
  font-size: 30px;
  background-color:#ffffff;
  color: #000000;
  border-radius: 3px;
  box-shadow: 4px 4px 1px #666666;
}*/





/** TELA QUESTAO TRES **/
.corpoq3 .enunciadoq3 h2{
  border-left: 3px solid #004d00;
  background-color: lightgrey;
  margin: 5px 0;
}

.corpoq3{
  margin: 0 auto;
  width: 800px;
}

.altq3 .f1 label, .altq3 .f2 label, .altq3 .f3 label, .altq3 .f4 label{
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 30px;
  text-indent: 50px;
  color: black;
}

.altq3{
  border: 1px solid #cccccc;
  width: 800px;
  height: 400px;
}

#btnQ3{
  margin-left: 700px;
  margin-top: 10px;
}
.campof1, .campof2, .campof3, .campof4{
  width: 150px;
  height: 35px;
}


.botaolb2{
  margin-left: 1140px;
  margin-top: 10px;

}



/* TELA QUESTÃO QUATRO*/

  .corpoq4 .enunciadoq4 h2{
    border-left: 3px solid #004d00;
    background-color: lightgrey;
    margin: 5px 0;
  }

  .corpoq4{
    margin: 0 auto;
    width: 850px;
  }

  .f1, .f2, .f3{
    height: 100px;
  }

.perguntasq4 span{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-right: 10px;
  }

  /*Somente o span que tem a classe q1a*/
  .perguntasq4 span.q1a, .perguntasq4 span.q1b, .perguntasq4 span.q1c{
    border: solid 1px #BABABA;
    border-radius: 5px;
    padding: 5px;
  }

.perguntasq4 .f1, .perguntasq4 .f2, .perguntasq4 .f3{
  /*margin-left: 0px;*/
}

.perguntasq4 #drag8{
    width: 260px;
}

  .limpaarfloat{
    clear:right;
/* Drag and Drop */
}

.perguntasq4 .r1, .perguntasq4 .r2, .perguntasq4 .r3{
   width: 200px;
   height: 80px;
   float: left;
   padding: 2px;
   font-family: "Times New Roman", Times, serif;
   /*font-size: 30px;*/
   margin-left: 45px;
   margin-bottom: 70px;
   border: 1px solid #BABABA;;
   border-radius: 10px;
}

#drop1 {
  width: 50px;
  height: 50px;
}

#btnQ4{
  margin-left: 750px;
}

.perguntasq4{
  border: 1px solid #bababa;
}






/* TELA QUESTÃO 5*/

.corpoq5 .enunciadoq5 h2{
  border-left: 3px solid #004d00;
  background-color: lightgrey;
  margin: 5px 0;
}

.corpoq5{
  margin: 0 auto;
  width: 850px;
}
.montante{
  width: 810px;
  height: 300px;
  border: 2px solid #000000;
  position: relative;
  margin: 0px 10px 10px 0px ;
  border-radius: 6px;
  background: radial-gradient(80% 80%, #bfffbf, #fff); /*degrade*/
  box-shadow: 4px 5px 5px #666666;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}
.montante span, .containerRelacao span, .containerFrases span{
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  float: left;
  width: 170px;
  height: 70px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.containerRelacao, .containerFrases{
    width: 400px;
    height: 500px;
    border: 2px solid #000000;
    position: relative;
    margin: 0px 10px 10px 0px ;
    border-radius: 6px;
    background: radial-gradient(80% 80%, #bfffbf, #fff); /*degrade*/
    box-shadow: 4px 5px 5px #666666;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}



/*.montante, .containerVerbos {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}*/
.limpaarfloat{
  clear:right;
}


/*.linha1 span, .linha2 span, .linha3 span{

  "engorda" os elementos da classe campo
  padding: 8px 5px;
  width: 150px;
  font-size: 30px;
  background-color:#ffffff;
  color: #000000;
  border-radius: 3px;
  box-shadow: 4px 4px 1px #666666;
}*/

.confirmacao .botaoq5{
margin: 10px 700px;
}



/**** QUESTAO 6 ****/
.corpoq6 .enunciadoq6 h2{
  border-left: 3px solid #004d00;
  background-color: lightgrey;
  margin: 5px 0;
}

.corpoq6{
  margin: 0 auto;
  width: 850px;
}
.montante{
  width: 810px;
  height: 300px;
  border: 2px solid #000000;
  position: relative;
  margin: 0px 10px 10px 0px ;
  border-radius: 6px;
  background: radial-gradient(80% 80%, #bfffbf, #fff); /*degrade*/
  box-shadow: 4px 5px 5px #666666;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}


.altq6 .frase1 label, .altq6 .frase2 label, .altq6 .frase3 label, .altq6 .frase4 label{
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 30px;
  text-indent: 50px;
  color: black;
}

.altq6{
  border: 1px solid #cccccc;
  width: 800px;
  height: 400px;
}

#btnQ6{
  margin-left: 700px;
  margin-top: 10px;
}
.campog1, .campog2, .campog3, .campog4{
  width: 150px;
  height: 35px;
}
.campod1, .campod2, .campod3, .campod4{
  width: 150px;
  height: 35px;
}
.campov1, .campov2, .campov3, .campov4{
  width: 150px;
  height: 35px;
}
.campox1, .campox2, .campox3, .campox4{
  width: 150px;
  height: 35px;
}


.botaolb2{
  margin-left: 1140px;
  margin-top: 10px;

}

.limpaarfloat{
  clear:right;
}


/*.linha1 span, .linha2 span, .linha3 span{

  "engorda" os elementos da classe campo
  padding: 8px 5px;
  width: 150px;
  font-size: 30px;
  background-color:#ffffff;
  color: #000000;
  border-radius: 3px;
  box-shadow: 4px 4px 1px #666666;
}*/
